<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".MorphoCoreApplication"
        android:label="MorphoCore"
        android:theme="@style/Theme.AppCompat">
        <activity
            android:name=".SmokeTestActivity"
            android:exported="true" />
    </application>
</manifest>
